{% extends 'base.html.twig' %}

{% block body %}
    <div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <li>
            {% for p in persons %}
            {{ p.name }}, {{ p.age }}
            {% endfor %}

        </li>


    </div>

{% endblock %}